<configuration>

    <property resource="application.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern> %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight(%-5level) %logger{36} - %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="file-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.camunda.logging.directory}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${org.camunda.logging.directory}/archived/debug.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>3MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}[%thread]%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.camunda.logging.directory}/logstash.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${org.camunda.logging.directory}/camunda.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Send logs to both console and file audit -->
    <logger name="commonLogger" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.infrastructure.messageBroker.nats.NatsConnection" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.infrastructure.messageBroker.nats.NatsMessageBroker" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.infrastructure.messageBroker.mockBroker.MockConnection" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.infrastructure.messageBroker.mockBroker.MockMessageBroker" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.bootstrapper.MessageBrokerConfiguration" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.camunda.bootstrapper.CamundaConfiguration" level="${org.camunda.logging.level}" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--logger name="org.camunda.bpm.engine.jobexecutor" level="debug" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.impl.persistence.entity.JobEntity" level="debug" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.cmd" level="debug" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.persistence" level="trace" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.bpmn.behavior" level="debug" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.impl.persistence.entity" level="trace" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--logger name="org.camunda.bpm.engine.tx" level="trace" additivity="false">
        <appender-ref ref="file-debug"/>
    </logger-->

    <!--root level="error">
        <appender-ref ref="file-error"/>
    </root-->


</configuration>